// Card設定

.lesson-card {
  background-color: rgba(0, 0, 0, 0.3) !important;
}




.lesson-images {
  width: 100%;
  height: auto;
}

// Profile
.profile-image {
  width: 100%;
  height: auto;
  background-position: center;
  object-fit: contain;
}