<div class="container">
  <div class="row mt-5">
    <h2>ようこそ<%= @user.username %>さん！</h2>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <p>ここにステータス、進捗具合、プロフィール画像、トロフィー？の表示</p>
    </div>
  </div>
  <div class="row mt-5">
    <h4>Lessonを続ける</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Lessonのレベル、進捗状況、続けるボタン</p>
    </div>
  </div>
  <div class="row mt-5">
    <h4>Lessom一覧</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <p>beginner1~5,intermediate1~5,advanced1~5</p>
    </div>
  </div>
</div>